.navbar{
	width: 100%;
	background: #000000;
	box-shadow: rgb(0, 0, 0) 5px 10px 15px 0;
	padding:0;
	margin:0;
	z-index: 3;
	.menu-content {
		display:flex;
		height: 52px;
		width: 1200px;
		margin-left: auto;
		margin-right:auto;
		background: #000000;
		.logo{
			display: flex;
			align-items: center;
			.sneakers{
				font-size: 40px;
				text-decoration: none;
				color: white;
				font-family: 'Frijole', cursive;
				&:hover{
					color: red;
					cursor: pointer;
					transition: 1s all;
				}
			}
		}
		.menu{
			height: 52px;
			width: 1100px;
			margin-left: auto;
			margin-right: auto;
				ul{
					// margin: 0;
					// padding: 0px 0px 0px 0px;
					// list-style: none;
					// line-height: normal;
					text-align: center;
					background-color: black;
					.menuicon:hover .large{
						transform: rotate(360deg);
						transition: 1s;
					}
					.menuicon{
						cursor: pointer;
					}
					li{
						display: inline-block;
						&:hover .dropdown{
							display:block;
							z-index: 1;
						}
						.dropdown{
							display:none;
							position: absolute;
							box-shadow: black 5px 10px 15px 0;
							li{
								a{
									text-decoration: none;
									background-color: black;
									color: white;
									text-align: left;
									&:hover{
										background: rgb(201, 201, 201);
										color:black;
										transition: 0.5s all;
									}
								}
							}
						}
						a{
							display: block;
							padding: 0px 30px;
							line-height: 52px;
							border: none;
							text-decoration: none;
							text-align: center;
							font-family: "BPG No9", sans-serif;
							font-size: 14px;
							font-weight: 300;
							color: #FFFFFF;
							&:hover{
								transition: 0.5s all;
								background: rgb(189, 189, 189);
								text-decoration: none;
								color: rgb(0, 0, 0);
							}
						}
					}
				}
		}
		.signin{
			display:flex;
			// align-items: center;
			ul{
				display:flex;
				padding-top:10px;
				li{
					list-style: none;
					.user{
						color: white;
						&:hover{
							color: rgb(0, 113, 219);

							transition: 1s;
						}
					}
					.cart{
						color: white;
						&:hover{
							color: rgb(0, 192, 0);

							transition: 1s;
						}
					}
				}
			}
		}
	}
}
