<form class="mt-5 mb-5">
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputEmail4" class="labelclass">მობილურის ნომერი ან ელ-ფოსტა:</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="form-group col-md-6">
    <label for="inputPassword4" class="labelclass">პაროლი:</label>
    <input type="text" class="form-control" id="inputPassword4">
  </div>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label labelclass" for="customCheck1">დაამახსოვრე პაროლი</label>
</div>
    <button type="button" class="btn-lg btn-success mt-3">შესვლა</button>
  </form>
  <div class="ui two column centered grid">
  <button class="ui facebook big button">
    <i class="facebook icon"></i>
    facebook-ით ავტორიზაცია
  </button>
  <button class="ui google plus big button">
    <i class="google plus icon"></i>
    Google-ით ავტორიზაცია
  </button>
</div>