<div class="item-container">
    <div class="items">
        <div class="item">
            <img src="assets/images/items/nike/item8.jpg" alt="">
            <div class="description">
                <h2>nike wmns air max 270</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 350 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/nike/item10.jpg" alt="">
            <div class="description">
                <h2>nike wmns air max 270</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 350 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/nike/item12.jpg" alt="">
            <div class="description">
                <h2>Air Force 1 Just Do It</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 195 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
    </div>
</div>