<body>
    <header></header>
    <!-- <div id="mybutton">
        <i class="facebook messenger huge icon "></i>
    </div>
     -->
    <button id="open" (click)="openForm()"><i class="facebook messenger huge icon "></i></button>
    <button id="close" (click)="closeForm()"><i class="times circle outline huge icon"></i></button>
    <div class="chatbot" id="myForm">
        <form class="chatbot-container">
            <h1>ონლაინ დახმარება</h1>
            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" required></textarea>
            <button type="submit" class="btn">Send</button>
        </form>
        <i class="caret down huge icon "></i>
    </div>
    <footer></footer>
</body>