*{

    background-color: white;
}
.text{
    font-family: "BPG ExtraSquare Mtavruli", sans-serif;
}

    .row{
        
        .item{
            border:solid rgba(151, 151, 151, 0.226) 1px;
            box-shadow: 2px 3px 5px 0 rgb(177, 177, 177);
            padding:10px 5px;
            margin:5px;
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s;

            .image{
                width: 260px;
            }
            .btns{
                padding-top: 10px;
                .buy{
                    background-color: black;
                    padding:5px 10px;
                    color: white;
                    font-family: "BPG No9", sans-serif;
                    font-size: 20px;
                    border:solid 1px rgb(0, 0, 0);
                    &:hover{
                        background-color: white;
                        color:black;
                        border-color: rgba(0, 0, 0, 0.37);
                        transition: 0.5s;
                    } 
                }
                .tocart{
                     background-color: rgb(0, 105, 167);
                    padding:5px 10px;
                    font-family: "BPG No9", sans-serif;
                    font-size: 20px;
                    border:solid 1px rgb(0, 105, 167);
                    .icon{
                        text-decoration: none;
                        background-color: rgb(0, 105, 167);
                        color:white;

                    }
                    &:hover{
                        background-color: white;
                        transition: 0.5s;
                    }
                    &:hover .icon{
                        background-color: white;
                        color: black;
                        transition: 0.5s;
                    }
                }
            }
            
          }
          
          @-webkit-keyframes animatebottom {
            from { bottom:-100px; opacity:0 } 
            to { bottom:0px; opacity:1 }
          }
          
          @keyframes animatebottom { 
            from{ bottom:-100px; opacity:0 } 
            to{ bottom:0; opacity:1 }
          }
        }

@media only screen and (max-width: 1200px){
    .row{
        .item{
            width:32%;
            .image{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 992px){
    .row{
        .item{
            width: 48%;
            .image{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 500px){
    .row{
        
        .item{
            width: 96%;
            .image{
                width: 100%;
            }
        }
    }
}
      
