.content{
    background-color: white;
    width: 1350px;

    .container{

        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .item{

            img{
                width: 270px;
            }
        }
    }
}