
    <ng-container *ngIf="isLoading">
        <div class="ui segment">
            <div class="ui active inverted dimmer">
                <div class="ui large text loader">იტვირთება</div>
            </div>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
    </ng-container>
    <div class="container d-flex justify-content-around">
        <div class="row ">
            <div class=".col-6 .col-md-4 item" *ngFor="let boots of listOfBoots">
                <img [src]="boots.path" class='image' alt="">
                <div class="description">
                    <h2 style="font-family: 'Fondamento', cursive; font-size: 21px;">{{ boots.model }}</h2>
                    <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                        <b>ფასი {{ boots.price }} ₾ &nbsp; წელი {{ boots.year }} </b></p>
                </div>
                <div class="btns">
                    <a href="" class="buy">ყიდვა</a>
                    <a href="" class="tocart"><i class="cart plus icon"></i></a>
                </div>
            </div>

        </div>
    </div>

