<div class="item-container">
    <div class="items">
        <div class="item">
            <img src="assets/images/items/newbalance/item1.jpg" alt="">
            <div class="description">
                <h2>New Balance 247</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 130 ₾ &nbsp; წელი 2018</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item2.jpg" alt="">
            <div class="description">
                <h2>X Bodega 998</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 150 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item3.jpg" alt="">
            <div class="description">
                <h2>New Balance 827</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 650 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item4.jpg" alt="">
            <div class="description">
                <h2>New Balance 850</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 290 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item5.jpg" alt="">
            <div class="description">
                <h2>New Balance 1300</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 530 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item6.jpg" alt="">
            <div class="description">
                <h2>New Balance 860v10</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 580 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item7.jpg" alt="">
            <div class="description">
                <h2>New Balance 860 Woman</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 420 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item8.jpg" alt="">
            <div class="description">
                <h2>Fresh Foam Hierro v4</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 280 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item9.jpg" alt="">
            <div class="description">
                <h2>New Balance M1530</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 320 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item10.jpg" alt="">
            <div class="description">
                <h2>New Balance MS997</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 450 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item11.jpg" alt="">
            <div class="description">
                <h2>Fresh Foam Roav Athletic</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 180 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/items/newbalance/item12.jpg" alt="">
            <div class="description">
                <h2>New Balance Numeric420</h2>
                <p style="font-family: BPG ExtraSquare Mtavruli,sans-serif;font-size: 15px;" class="price">
                    <b>ფასი 240 ₾ &nbsp; წელი 2019</b></p>
            </div>
            <div class="btns">
                <a href="" class="buy">ყიდვა</a>
                <a href="" class="tocart"><i class="cart plus icon"></i></a>
            </div>
        </div>
    </div>
</div>
