    <div class="container">
      <div class="ui two column centered grid mt-2">
          <div class="ui big buttons center">
            <button class="ui inverted green basic button" [routerLink]="['/signin/signupuser']" routerLinkActive="router-link-active" >რეგისტრაცია</button>
            <div class="or" data-text="ან" style="z-index: 0;"></div>
            <button class="ui inverted green basic button" [routerLink]="['/signin/signinuser']" routerLinkActive="router-link-active" >ავტორიზაცია</button>
          </div>
    </div>
      <router-outlet></router-outlet>
    </div>
